.swiper {
  width: 600px;
  height: 300px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: red;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 40px;
  border-radius: 32px;
  background-color: blue;
  opacity: 1;
}
